---
import Layout from '../../../layouts/Layout.astro';
import EventHeader from '../../../components/eventos/EventHeader.astro';
import Hero from '../../../components/eventos/samantha/Hero.astro';
import Details from '../../../components/eventos/samantha/Details.astro';
import Theme from '../../../components/eventos/samantha/Theme.astro';
import Location from '../../../components/eventos/samantha/Location.astro';
import Playlist from '../../../components/eventos/samantha/Playlist.astro';
import Footer from '../../../components/Footer.astro';
import '../../../styles/global.css';
---

<Layout title="Fiesta de 15 años de Samantha - Pool Party">
  <EventHeader eventName="Samantha" eventColor="var(--pink)" eventSubName="XV", eventSubColor="var(--blue)" />

  <div style="padding-top: 80px;">
    <Hero />
    <Details />
    <Theme />
    <Location />
    <Playlist />
    <Footer />
  </div>
</Layout>
