---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Details from '../components/Details.astro';
import Theme from '../components/Theme.astro';
import Location from '../components/Location.astro';
import Playlist from '../components/Playlist.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Fiesta de 15 años de Samantha - Pool Party">
  <Header />

  <div style="padding-top: 80px;">
    <Hero />
    <Details />
    <Theme />
    <Location />
    <Playlist />
    <Footer />
  </div>
</Layout>
